<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeedSource" value="Twitter"/>
    <add key="OAuthConsumerKey" value="ZsdZMcsioZ3Wq88d8tMHjiNF3"/>
    <add key="OAuthConsumerSecret" value="PUz8sQth254QbVF0UHry27UA1d5cvfULkFWJwvowaTJymktMN6"/>
    <add key="TokenURL" value="https://api.twitter.com/oauth2/token"/>
    <add key="APIURL" value="https://api.twitter.com/1.1/statuses/user_timeline.json"/>
  </appSettings>
</configuration>